<ion-header no-border  class="feed-header" >
  <ion-navbar color="x-mint">
    <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="flaticon-mark" color="x-gray-light"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Social Feed</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="presentNoticeModal()">
          <ion-icon name="xhb-alarm" color="x-gray-light"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="" no-paddding shrink-header [headerToHide]="'feed-header'" hide-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let feed of feeds" no-shadow>
    <ion-item sticky no-padding>
      <ion-avatar item-left  (click)="presentProfileModal()">
        <!--<img [src]="feed.imgProfile">-->
        <img src="assets/img/user_000.jpg" class="social_avatar"/>
      </ion-avatar>
      <h2>물뜨는미어캣{{feed.name}}</h2>
      <p class="time">&nbsp;{{feed.date | DateFormat}}</p>
    </ion-item>
    
    <ion-slides  pager *ngIf="(feed.images|async)?.length > 0">
      <ion-slide *ngFor="let images of  feed.images | async">
        <img src ="{{images.url}}"   imageViewer="{{feed.images}}">
      </ion-slide>
    </ion-slides>
    
    <ion-card-content (click)="presentDetailModal()">
      <p>{{feed.description}}</p>
    </ion-card-content>
    
    <ion-row>
      <ion-col col-6>
        <button ion-button icon-left clear> 
          <div></div>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-left clear>
          <ion-icon name="xhb-heart" color="social-like"></ion-icon>
          <div class="social_like">&nbsp;{{feed.like}}134</div>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-left clear>
          <ion-icon name="xhb-comment" color="social-comment"></ion-icon>
          <div class="social_comment">&nbsp;{{feed.comment}}2</div>
        </button>
      </ion-col>
      
    </ion-row>
  </ion-card>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom>
    <button ion-fab color="amber" (click)="presentCreateModal()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>