<ion-header no-border>
  <ion-navbar color="x-mint">
    <!-- LEFT BUTTON -->
    <ion-buttons left></ion-buttons>
    <!-- TITLE -->
    <ion-title>프로필수정</ion-title>  
    <ion-buttons end>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"><ion-icon name="flaticon-down-arrow" color="x-white"></ion-icon></button>
    </ion-buttons>
  </ion-navbar> 
</ion-header>


<ion-content no-padding>
  <ion-grid no-padding *ngIf="user">
    <ion-row class="row-photo"> 
      <ion-col col-12>
        <div class="photo" (click)="setPhoto()">
          <div class="input-photo">
            <img src="assets/img/noavatar.png" class="circle" *ngIf="!user.profileImg"/>
            <img src="{{user.profileImg}}" class="circle" *ngIf="user.profileImg"/>
          </div>
          <div class="modify-photo" ><ion-icon name="flaticon-photo-camera"></ion-icon></div>
        </div> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="input-12-readonly">
          <ion-item no-lines class="input-item"><ion-label class="input-label">닉네임</ion-label><ion-input class="input-text" [(ngModel)]="user.username"></ion-input></ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="input-12-readonly">
          <ion-item no-lines class="input-item"><ion-label class="input-label">이메일</ion-label><ion-input readonly  class="input-text"  [(ngModel)]="user.email"></ion-input></ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="input-12">
          <ion-item no-lines class="input-item"><ion-label class="input-label">성별</ion-label><ion-select [(ngModel)]="user.gender" [disabled]="!firstRun">
            <ion-option value="female">여성</ion-option>
            <ion-option value="male">남성</ion-option>
            <ion-option value="none">비공개</ion-option>
          </ion-select></ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="input-12">
          <ion-item no-lines class="input-item"><ion-label class="input-label">출생년도</ion-label><ion-datetime displayFormat="YYYY" [(ngModel)]="user.birth" [disabled]="!firstRun"></ion-datetime></ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="input-12-readonly">
          <ion-item no-lines class="input-item"><ion-label class="input-label">자기소개</ion-label><ion-input class="input-text" [(ngModel)]="user.description"></ion-input></ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom" no-padding color="x-navy">
    <div class="confirm" (click)="updateProfile()">수정 완료</div>
  </ion-toolbar>
</ion-footer>
