page-login {
  ion-content{
    background-image: url('../assets/img/login.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
  }

   
        div {
          text-align: center;
          

          .top {
            height: 45vh;
            display: flex;
            align-items: center;
            justify-content: center;
      
            img {
              width: 43vw;
            }
          }
      
          .bottom {
            height: 40vh;
      
            .buttons {
              height: 100%;
              display: flex;
              align-items: center;
              
            }
              
            
      
            p {
              color: #fff;
              font-size: 1.1em;
            }
      
            p.activated,
            p:active {
              color: $primary;
            }
      
            button {
              width: 70vw;
              margin-top: 0.5em;
            }
      
            button.facebook {
              background: $facebook;
            }
      
            button.facebook.activated,
            button.facebook:active {
              background: $facebook-active;
            }
      
            button.google {
              background: $google;
            }
      
            button.google.activated,
            button.google:active {
              background: $google-active;
            }
      
            button.secondary {
              background: $secondary;
            }
      
            button.secondary.activated,
            button.secondary:active {
              background: $secondary-active;
            }
      
            button.register {
              width: 88%;
              text-shadow:none !important;
              border:none !important;
              box-shadow:none !important;
              text-align : left;
             
              
                .button-inner{
                    justify-content:  flex-start;
                    img{
                      margin-right:20%;
                      height: 100%;
                    }

                  }
                  
                
              
            }
      
            button.dark.activated,
            button.dark:active {
              background: $dark-active;
            }
      
            .form {
              background: rgba(0, 0, 0, 0.3);
              width: 100%;
              height: 100%;
      
              p {
                width: 70vw;
                margin-left: auto;
                margin-right: auto;
              }
      
              ion-list {
                padding: 0;
                margin: 0 0 0.75em;
      
                ion-item {
                  background: transparent;
                  color: $primary;
      
                  ion-label {
                    text-align: left;
                    width: 24vw;
                  }
      
                  ion-input {
                    color: #fff;
                  }
                }
              }
      
              button.clear {
                margin: 0;
                width: auto !important;
                background: transparent !important;
              }
      
              button.clear.activated {
                color: $primary;
              }
            }
          }
        }
      }
      

