page-community-detail {

    ion-content{
        background-color: map-get($colors,x-gray-light) !important;
    }
    .cdn-post {
        margin-bottom:2vw;
        height:fit-content;
        background-color: map-get($colors,x-white);
    }
    .cdn-title{
        font-size:4vw;
        color:map-get($colors,x-gray-dark);
        width:100vw;
        padding:2vw;
        border-bottom:1px solid map-get($colors,x-gray-light2);
        height:fit-content;
    }
    .cdn-user {
        padding-right:2vw;
    }
    .cdn-photo{
        border:1px solid map-get($colors,x-white);
        border-radius: 100%;
        padding:2vw;
    }
    .cdn-nickname {
        align-items:center;
        font-size:4vw;
        height:6vw;
        color:map-get($colors,x-gray-dark);
        margin:2vw 0 0 0;
    }
    .cdn-info {
        align-items:center;
        font-size:3vw;
        color:map-get($colors,x-gray-middle);
        height:6vw;
        margin:0 0 2vw 0;
    }
    .cdn-tags {
        color:map-get($colors,x-navy);
    }
    .cdn-text {
        padding:2vw;
        font-size:4vw;
        color:map-get($colors,x-gray-dark);
        height:fit-content;
        border-bottom:1px solid map-get($colors,x-gray-light2);
    }
    .cdn-btns {
        padding:2vw;
        font-size:3vw;
        color:map-get($colors,x-gray-middle);
        border-bottom:1px solid map-get($colors,x-gray-light2);
    }

    .cdn-comment {
        background-color: map-get($colors,x-white);
        height:fit-content;
        border-bottom:1px solid map-get($colors,x-gray-light2);
        margin-bottom:2vw;
        padding-bottom:2vw;
    }
    .cdn-comment-title {
        padding:2vw;
        border-top:1px solid map-get($colors,x-gray-light2);
        border-bottom:1px solid map-get($colors,x-gray-light2);
        font-size:4vw;
        height:fit-content;
        color:map-get($colors,x-gray-dark);
    }
    .cdn-comment-user {
        padding-right:2vw;
    }
    .cdn-comment-text {
        padding:2vw;
        border-left:2px solid map-get($colors,x-gray-middle);
        background-color:map-get($colors,x-gray-light);
        margin-bottom:4vw;
        height:fit-content;
    }

    ion-slides, .swiper-container {
        height: auto;
        width: 96vw;
    }
    .swiper-container {
        margin: 4vw 0 4vw 0;
    }
    .swiper-slide {
        background-size: cover !important;
        background-position: center !important;
    }

    #imageSlide{
        max-width: 100vw !important;
        max-height: 100vh !important;
    }

    .swiper-pagination-bullet {
        background-color: map-get($colors,x-white);
    }
    .swiper-pagination-bullet-active {
        background-color: map-get($colors,x-mint) !important;
    }

    .cdn-comment-write {
        border-top:1px solid map-get($colors,x-gray-light2);
        height:12vw !important;
    }
    .cdn-comment-input {
        border-radius:4vw;
        border:1px solid map-get($colors,x-gray-light2);
        width:80vw;
        height:8vw;
        color:map-get($colors,x-gray-dark);
        font-weight:normal;
        font-size:4vw;
        padding-top:2vw;
        padding-left:4vw;
        margin-left:4vw;
    }
}
  