 page-matching {
    
    
    .content {
        width:100%;
        height:100%;
        border:none;
        background-color:#ececec;
    }

    .card_frame {
        top:30vh;
        width:80%;
        border:none;
        border-radius:15px;
        background-color:#fff;
        margin:5% 10%;
    }

    .card_photo {
        width:100%;
        border-top-left-radius:15px;
        border-top-right-radius:15px;
    }

    .card_nickname {
        background-color:#fff;
        width:100%;
        font-size:20px;
        color:#3c3c3c;
        text-align:center;
        margin:10px 0;
    }

    .card_profile {
        font-size:14px;
        color:#b4b4b4;
        text-align:center;
        width:100%;
    }
    
    .card_star {
        background-color:#fff;
        text-align:center;
        width:100%;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
        margin:10px 0;
    }
}