page-profile {

    shrink-segment-header {
 
        background-image: url('../assets/img/login.jpg');
        
        display: flex;
        align-items: center;
        justify-content: center;
       
 
    }

    ion-item{
        z-index: 2;
    }
}
