page-ideal {
    
    .firstrow {
        margin-top:4vw;
    }

    .input-range {
        width:80vw;
        margin-left:10vw;
    }
    .input-12 {
        width:92vw;
        margin-left:4vw;
        margin-bottom:4vw;
        border : 1px solid map-get($colors,x-gray-middle);
        background-color : map-get($colors,x-white);
        border-radius : 8px;
    }

    .input-12-readonly {
        width:92vw;
        margin-left:4vw;
        margin-bottom:4vw;
        border : 1px solid map-get($colors,x-gray-middle);
        background-color : map-get($colors,x-gray-light);
        border-radius : 8px;
    }

    .input-6L {
        width:44vw;
        margin-left:4vw;
        margin-right:2vw;
        margin-bottom:4vw;
        border : 1px solid map-get($colors,x-gray-middle);
        background-color : map-get($colors,x-white);
        border-radius : 8px;
    }

    .input-6R {
        width:44vw;
        margin-left:2vw;
        margin-right:4vw;
        margin-bottom:4vw;
        border : 1px solid map-get($colors,x-gray-middle);
        background-color : map-get($colors,x-white);
        border-radius : 8px;
    }

    .input-label {
        font-size:14px !important;
        color:map-get($colors,x-gray-middle) !important;
    }
    .input-text {
        font-size:14px !important;
        font-weight:bold;
        color:map-get($colors,x-gray-middle) !important;
        text-align: right !important;
    }
    .input-item{
        background-color:transparent !important;
    }

    .confirm {
        width:100vw;
        color:map-get($colors,x-white);
        text-align:center;
        font-size:18px !important;
    }
}
