// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@import '../theme/animations';
// ICON - LINEAR //


ion-menu[side=left] .menu-inner {
    width: 100%;
}

ion-icon {
  &[class*="xh-"] {
      // Instead of using the font-based icons
      // We're applying SVG masks
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 0.8em;
      height: 0.8em;
  }

  &[class*="xhtab-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    background-repeat:no-repeat;
    background-position:center;
    height:23px;
    width:23px;
    background-size:contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }
  // custom icons
  &[class*="xhtab-basic_home"] {
    background-image: url(../assets/svg/basic_home.svg);
  }
  &[class*="xhtab-basic_heart"] {
    background-image: url(../assets/svg/basic_heart.svg);
  }
  &[class*="xhtab-basic_elaboration_message_heart"] {
    background-image: url(../assets/svg/basic_elaboration_message_heart.svg);
  }
  &[class*="xhtab-basic_message_multiple"] {
    background-image: url(../assets/svg/basic_message_multiple.svg);
  }
  &[class*="xhtab-basic_share"] {
    background-image: url(../assets/svg/basic_share.svg);
  }
  &[class*="xhtab-arrows_hamburger2"] {
    background-image: url(../assets/svg/arrows_hamburger2.svg);
  }
  &[class*="xhtab-basic_star"] {
    background-image: url(../assets/svg/basic_star.svg);
  }


  &[class*="xh-arrows_circle_plus"] {
    mask-image: url(../assets/svg/arrows_circle_plus.svg);
  }
  &[class*="xh-arrows_circle_remove"] {
      mask-image: url(../assets/svg/arrows_circle_remove.svg);
  }
  &[class*="xh-arrows_hamburger2"] {
    mask-image: url(../assets/svg/arrows_hamburger2.svg);
  }
  &[class*="xh-music_bell"] {
    mask-image: url(../assets/svg/music_bell.svg);
  }
  &[class*="xh-arrows_left"] {
      mask-image: url(../assets/svg/arrows_left.svg);
  }
  &[class*="xh-arrows_left_double-32"] {
      mask-image: url(../assets/svg/arrows_left_double-32.svg);
  }
  &[class*="xh-arrows_plus"] {
      mask-image: url(../assets/svg/arrows_plus.svg);
  }
  &[class*="xh-arrows_remove"] {
      mask-image: url(../assets/svg/arrows_remove.svg);
  }
  &[class*="xh-arrows_right"] {
      mask-image: url(../assets/svg/arrows_right.svg);
  }
  &[class*="xh-arrows_right_double-31"] {
      mask-image: url(../assets/svg/arrows_right_double-31.svg);
  }
  &[class*="xh-arrows_slim_down"] {
      mask-image: url(../assets/svg/arrows_slim_down.svg);
  }
  &[class*="xh-arrows_slim_left"] {
      mask-image: url(../assets/svg/arrows_slim_left.svg);
  }
  &[class*="xh-arrows_slim_right"] {
      mask-image: url(../assets/svg/arrows_slim_right.svg);
  }
  &[class*="xh-arrows_slim_up"] {
      mask-image: url(../assets/svg/arrows_slim_up.svg);
  }
  &[class*="xh-arrows_square_plus"] {
      mask-image: url(../assets/svg/arrows_square_plus.svg);
  }
  &[class*="xh-arrows_square_remove"] {
      mask-image: url(../assets/svg/arrows_square_remove.svg);
  }
  &[class*="xh-basic_calendar"] {
      mask-image: url(../assets/svg/basic_calendar.svg);
  }
  &[class*="xh-basic_gear"] {
      mask-image: url(../assets/svg/basic_gear.svg);
  }
  &[class*="xh-basic_geolocalize-05"] {
      mask-image: url(../assets/svg/basic_geolocalize-05.svg);
  }
  
  &[class*="xh-basic_heart_broken"] {
      mask-image: url(../assets/svg/basic_heart_broken.svg);
  }
  
  &[class*="xh-basic_key"] {
      mask-image: url(../assets/svg/basic_key.svg);
  }
  &[class*="xh-basic_link"] {
      mask-image: url(../assets/svg/basic_link.svg);
  }
  &[class*="xh-basic_lock"] {
      mask-image: url(../assets/svg/basic_lock.svg);
  }
  &[class*="xh-basic_lock_open"] {
      mask-image: url(../assets/svg/basic_lock_open.svg);
  }
  &[class*="xh-basic_magnifier"] {
      mask-image: url(../assets/svg/basic_magnifier.svg);
  }
  &[class*="xh-basic_magnifier_minus"] {
      mask-image: url(../assets/svg/basic_magnifier_minus.svg);
  }
  &[class*="xh-basic_magnifier_plus"] {
      mask-image: url(../assets/svg/basic_magnifier_plus.svg);
  }
  &[class*="xh-basic_mail"] {
      mask-image: url(../assets/svg/basic_mail.svg);
  }
  &[class*="xh-basic_mail_multiple"] {
      mask-image: url(../assets/svg/basic_mail_multiple.svg);
  }
  &[class*="xh-basic_mail_open"] {
      mask-image: url(../assets/svg/basic_mail_open.svg);
  }
  &[class*="xh-basic_map"] {
      mask-image: url(../assets/svg/basic_map.svg);
  }
  &[class*="xh-basic_message"] {
      mask-image: url(../assets/svg/basic_message.svg);
  }
  
  &[class*="xh-basic_message_txt"] {
      mask-image: url(../assets/svg/basic_message_txt.svg);
  }
  &[class*="xh-basic_mixer2"] {
      mask-image: url(../assets/svg/basic_mixer2.svg);
  }
  &[class*="xh-basic_postcard"] {
      mask-image: url(../assets/svg/basic_postcard.svg);
  }
  
  
  &[class*="xh-basic_star"] {
      mask-image: url(../assets/svg/basic_star.svg);
  }
  &[class*="xh-basic_trashcan"] {
      mask-image: url(../assets/svg/basic_trashcan.svg);
  }
  &[class*="xh-basic_world"] {
      mask-image: url(../assets/svg/basic_world.svg);
  }
  &[class*="xh-music_mixer"] {
      mask-image: url(../assets/svg/music_mixer.svg);
  }
  &[class*="xh-software_eyedropper"] {
      mask-image: url(../assets/svg/software_eyedropper.svg);
  }
  &[class*="xh-software_pencil"] {
      mask-image: url(../assets/svg/software_pencil.svg);
  }
  &[class*="xh-software_pen_add"] {
      mask-image: url(../assets/svg/software_pen_add.svg);
  }


}


//hide scrollbar
::-webkit-scrollbar{ display:none; }

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: map-get($colors, backbutton) !important;
  }
  
  .bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default {
    color: map-get($colors, backbutton) !important;
  }


.toolbar {
    &.toolbar-md { //material design only
            
            position: relative;
            .title-md { //material design only
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                text-align: center;
                z-index: -1;
            }
    }
}

.md{

    ion-buttons button[icon-only].my-style-for-modal {
        margin: 0 6px;
        min-width: 36px;
        }
    
}

#menu-material {
    .list-box{
      margin-top:150px;
    }
    .menu-header {
      padding: 5px 15px;
      background-image: url('../assets/img/login.jpg');
      background-size: cover;
      background-color: color($colors, blue2);
      color: white;
      .name {
        font-weight: 400;
        font-size:18px;
        margin-top: 10px;
        margin-bottom: 3px;
      }
      .email {
        margin-top: 0;
        margin-bottom: 5px;
      }
      .user-avatar {
        padding: .5em;
        height: 12vh;
        margin-top: 15px;
        // border: 3px solid #fff;
      }
    }
    h3,
    .label,
    {
      color: #616161;
      font-weight: 400;
    }
    ion-icon {
      color: #616161;
    }
  }
  #menu-ios{
    .menu-header {
      text-align: center;
      margin: auto;
      // width: 50%;
      // margin-top: 10px;
      margin-bottom: 20px;
      padding: 5px 15px;
      background-color: #fff;
      color:#000;
      .name {
        margin-top:8px;
        font-weight: 500;
        font-size:16px;
        margin-bottom: 3px;
      }
      .email {
        margin-top: 0;
        margin-bottom: 5px;
      }
      .user-avatar {
        padding: .5em;
        height: 15vh;
        margin-top: 15px;
        // border: 3px solid #fff;
      }
    }
  }
  
  #menu-pwa {
    .list-box{
      margin-top:10px;
    }
    .menu-header {
      text-align: center;
      margin: auto;
      // width: 50%;
      // margin-top: 10px;
      margin-bottom: 20px;
      padding: 5px 15px;
      background-size: cover;
      background-color: color($colors, ios-gray);
      color: #ffffff;
      .name {
        margin-top:8px;
        font-weight: 500;
        font-size:16px;
        margin-bottom: 3px;
      }
      .email {
        margin-top: 0;
        margin-bottom: 5px;
      }
      .user-avatar {
        padding: .5em;
        height: 15vh;
        margin-top: 15px;
        // border: 3px solid #fff;
      }
    }
  
    h3,
    .label,
    {
      color: #616161;
      font-weight: 400;
    }
    ion-icon {
      color: #616161;
    }
  }
  .sub-menu .item-inner{
    padding-left: 56px;
  }
  .round {
    border-radius: 50%;
  }

  @include media-breakpoint-down(sm) {
    .login {
      
        ion-backdrop {
          visibility: visible !important;
        }
        .modal-wrapper {
          border-radius: 5px;
          overflow: hidden;
          top: 20%;
          left: 5%;
          position: absolute;
          width: 90%;
          height: 60%;
        }
      }
      .register {
        ion-backdrop {
          visibility: visible !important;
        }
        .modal-wrapper {
          border-radius: 5px;
          overflow: hidden;
          top: 15%;
          left: 5%;
          position: absolute;
          width: 90%;
          height: 65%;
        }
      }
    }