// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@import '../theme/animations';


ion-menu[side=left] .menu-inner {
    width: 100%;
}

// 앱 내 아이콘 전체 정의 - LINEA //
ion-icon {
    
    /* TAB ICON XH */
    &[class*="xh-"] { mask-size: contain; mask-position: 50% 50%; mask-repeat: no-repeat; background: currentColor; width: 1em; height: 1em; border:none;}
    
    &[class*="xh-home"] { mask-image: url(../assets/icon_tab/home.svg);}            //TAB01 - HOME
    &[class*="xh-matching"] { mask-image: url(../assets/icon_tab/matching.svg);}    //TAB02 - MATCHING
    &[class*="xh-chatting"] { mask-image: url(../assets/icon_tab/chatting.svg);}    //TAB03 - CHATTING
    &[class*="xh-social"] { mask-image: url(../assets/icon_tab/social.svg);}        //TAB04 - SOCIAL
    &[class*="xh-community"] { mask-image: url(../assets/icon_tab/community.svg);}  //TAB05 - COMMUNITY
   
    /* BASIC ICON XH */
    &[class*="xhb-"] { mask-size: contain; mask-position: 50% 50%; mask-repeat: no-repeat; background: currentColor; width: 0.8em; height: 0.8em;}

    &[class*="xhb-menu"] { mask-image: url(../assets/icon_basic/menu.svg);}         //MENU
    &[class*="xhb-alarm"] { mask-image: url(../assets/icon_basic/alarm.svg);}       //ALARM
    &[class*="xhb-filter"] { mask-image: url(../assets/icon_basic/filter.svg);}     //FILTER

    &[class*="xhb-info"] { mask-image: url(../assets/icon_basic/info.svg);}         //정보
    &[class*="xhb-life"] { mask-image: url(../assets/icon_basic/life.svg);}         //생활
    &[class*="xhb-trade"] { mask-image: url(../assets/icon_basic/trade.svg);}       //교류
    &[class*="xhb-trip"] { mask-image: url(../assets/icon_basic/trip.svg);}         //여행

    &[class*="xhb-notice"] { mask-image: url(../assets/icon_basic/notice.svg);}     //공지사항
    &[class*="xhb-cscenter"] { mask-image: url(../assets/icon_basic/cscenter.svg);} //고객센터
    &[class*="xhb-setting"] { mask-image: url(../assets/icon_basic/setting.svg);}   //환경설정
    &[class*="xhb-heart"] { mask-image: url(../assets/icon_basic/heart.svg);}       //하트충전

    &[class*="xhb-up"] { mask-image: url(../assets/icon_basic/up.svg);}             //ARROWS
    &[class*="xhb-up-double"] { mask-image: url(../assets/icon_basic/up-double.svg);}
    &[class*="xhb-down"] { mask-image: url(../assets/icon_basic/down.svg);}
    &[class*="xhb-down-double"] { mask-image: url(../assets/icon_basic/down-double.svg);}
    &[class*="xhb-left"] { mask-image: url(../assets/icon_basic/left.svg);}
    &[class*="xhb-left-double"] { mask-image: url(../assets/icon_basic/left-double.svg);}
    &[class*="xhb-right"] { mask-image: url(../assets/icon_basic/right.svg);}
    &[class*="xhb-right-double"] { mask-image: url(../assets/icon_basic/right-double.svg);}
    &[class*="xhb-close"] { mask-image: url(../assets/icon_basic/close.svg);}

}

ion-menu[side=left] .menu-inner {
  width:100%;
  border-bottom:none;
}
ion-title, ion-col {
  text-align:center;
}

.nav_container {
  width:100vw;
  height:100vh;
  background-color :#ececec;
}
.profile {
  background-color :#FFF;
  border-bottom : 1px solid #ececec;
  margin-bottom : 2vh;
}

.avatar {
  margin-top:2vh;
  margin-bottom:1vh;
  text-align: center;
}

.avatar_img {
  width:15vh;
  border-radius:50%;
}
.nickname {
  text-align: center;
  font-weight: bold;
  font-size:16px;
  margin-bottom:1vh;
}

.email {
  text-align: center;
  font-size:12px;
  margin-bottom:2vh;
}

.submenu {
  font-size:14px;
  ion-grid{
    height:6vh;
    
  }
}
.usermenu {
  display: table;
  border-collapse:collapse
  .row {
    display:table-row;
  }
  .cell {
      display: table-cell;
      border: 1px solid #ececec;
      background-color : #fff;
      width: 25vw;
      height: 25vw;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;     
      text-align:center;
      padding-top:5vw;
  }
  .btn {
    height:10vw;
    margin-bottom:1vw;
    font-size:10vw;
  }
  .btn_text {
    height:5vw;
    font-size:12px;
  }

}

//hide scrollbar
::-webkit-scrollbar{ display:none; }



.md{ ion-buttons button[icon-only].my-style-for-modal { margin: 0 6px; min-width: 36px; }}


  @include media-breakpoint-down(sm) {
    .login {
      
        ion-backdrop {
          visibility: visible !important;
        }
        .modal-wrapper {
          border-radius: 5px;
          overflow: hidden;
          top: 20%;
          left: 5%;
          position: absolute;
          width: 90%;
          height: 60%;
        }
      }
      .register {
        ion-backdrop {
          visibility: visible !important;
        }
        .modal-wrapper {
          border-radius: 5px;
          overflow: hidden;
          top: 15%;
          left: 5%;
          position: absolute;
          width: 90%;
          height: 65%;
        }
      }
    }