<ion-menu [content]="content" [swipeEnabled]="false" >
    <ion-header>
      <ion-toolbar>
          
        

        <ion-buttons left>
            <button ion-button  icon-only menuClose>
              <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        

        <ion-searchbar placeholder="Filter Items" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      
       
      <ion-list>
        
                  
        <ion-item-group *ngFor="let c of typeList">
          
          <ion-item-divider  color="light">{{ c | translate }} </ion-item-divider>
            <ion-row >
              <ion-col menuClose col-6 ion-item *ngFor=" let p of pages " [hidden]="p.type != c"  (click)="openPage(p.name)">
                <ion-icon name="leaf" item-start ></ion-icon>
                {{p.name | translate}}
              </ion-col>
            </ion-row>
        </ion-item-group>
     
      

      </ion-list>

      
      
    </ion-content>

  </ion-menu>
  
  <ion-nav #content [root]="rootPage"></ion-nav>