// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@import '../theme/animations';



// 앱 내 아이콘 전체 정의 - LINEA //
ion-icon {
    
    /* TAB ICON XH */
    &[class*="xh-"] { mask-size: contain; mask-position: 50% 50%; mask-repeat: no-repeat; background: currentColor; width: 1em; height: 1em; border:none;}
    
    &[class*="xh-home"] { mask-image: url(../assets/icon_tab/home.svg);}            //TAB01 - HOME
    &[class*="xh-matching"] { mask-image: url(../assets/icon_tab/matching.svg);}    //TAB02 - MATCHING
    &[class*="xh-chatting"] { mask-image: url(../assets/icon_tab/chatting.svg);}    //TAB03 - CHATTING
    &[class*="xh-social"] { mask-image: url(../assets/icon_tab/social.svg);}        //TAB04 - SOCIAL
    &[class*="xh-community"] { mask-image: url(../assets/icon_tab/community.svg);}  //TAB05 - COMMUNITY
   
    /* BASIC ICON XH */
    &[class*="xhb-"] { mask-size: contain; mask-position: 50% 50%; mask-repeat: no-repeat; background: currentColor; width: 0.8em; height: 0.8em;}

    &[class*="xhb-menu"] { mask-image: url(../assets/icon_basic/menu.svg);}         //MENU
    &[class*="xhb-alarm"] { mask-image: url(../assets/icon_basic/alarm.svg);}       //ALARM
    &[class*="xhb-filter"] { mask-image: url(../assets/icon_basic/filter.svg);}     //FILTER

    &[class*="xhb-up"] { mask-image: url(../assets/icon_basic/up.svg);}             //ARROWS
    &[class*="xhb-up-double"] { mask-image: url(../assets/icon_basic/up-double.svg);}
    &[class*="xhb-down"] { mask-image: url(../assets/icon_basic/down.svg);}
    &[class*="xhb-down-double"] { mask-image: url(../assets/icon_basic/down-double.svg);}
    &[class*="xhb-left"] { mask-image: url(../assets/icon_basic/left.svg);}
    &[class*="xhb-left-double"] { mask-image: url(../assets/icon_basic/left-double.svg);}
    &[class*="xhb-right"] { mask-image: url(../assets/icon_basic/right.svg);}
    &[class*="xhb-right-double"] { mask-image: url(../assets/icon_basic/right-double.svg);}

}

ion-menu[side=left] .menu-inner {
  width:100%;
  border-bottom:none;
}

.profile {
  background-color :#FFF;
  border-bottom : 1px solid #ececec;
  height : 30vh;
}

.avatar {
  text-align: center;
}

.avatar_img {
  width:20vw;
  margin-top:5vw;
  border-radius:50%;
}
.nickname {
  text-align: center;
}

.email {
  text-align: center;
}
//hide scrollbar
::-webkit-scrollbar{ display:none; }



.md{ ion-buttons button[icon-only].my-style-for-modal { margin: 0 6px; min-width: 36px; }}


  @include media-breakpoint-down(sm) {
    .login {
      
        ion-backdrop {
          visibility: visible !important;
        }
        .modal-wrapper {
          border-radius: 5px;
          overflow: hidden;
          top: 20%;
          left: 5%;
          position: absolute;
          width: 90%;
          height: 60%;
        }
      }
      .register {
        ion-backdrop {
          visibility: visible !important;
        }
        .modal-wrapper {
          border-radius: 5px;
          overflow: hidden;
          top: 15%;
          left: 5%;
          position: absolute;
          width: 90%;
          height: 65%;
        }
      }
    }