<ion-header no-border>

  <ion-navbar color="x-mint">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="flaticon-left-arrow" color="x-gray-light"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>게시글 작성</ion-title>
    <ion-buttons end></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding hide-fab>

  <ion-grid no-padding class="ct-content-title">
    <ion-row class="ct-category-title">
      <ion-col col-12 center>
        <ion-segment class="ct-category-btns" [(ngModel)]="selectedSpecific" mode="ios" color="x-mint">
          <ion-segment-button *ngFor="let specific of specific_inner" value="{{specific.name}}">
            {{specific.name | translate}}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding>
    
    <ion-list radio-group  [(ngModel)]="selectedSpecific" (ionChange)="test()">
        <ion-list-header>
            태그선택
        </ion-list-header>
        
      <ion-row>
        <ion-item col-6  *ngFor="let specific of specific_inner; let i = index;">
          <ion-label>{{specific.name | translate}}</ion-label>
          <ion-radio mode="md" [value]="specific.name" ></ion-radio>
        </ion-item>
      </ion-row>
    </ion-list> 
    

    <ion-row>
      <ion-col col-12>
        <ion-item class="item-left">
          <ion-input class="cc-title" placeholder="제목 입력" [(ngModel)]="title"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item class="item-left">
          <ion-textarea elastic class="cc-textarea" placeholder="내용 입력" [(ngModel)]="text"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="cc-photo">
      <ion-col text-left left col-12>
        <image-upload></image-upload>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer no-shadow>
      <ion-toolbar position="bottom" no-padding color="x-navy">
          <button ion-button icon-left clear [disabled]="checkTrim(text, title, checkList)" (click)="addCommunity(title, text)">
              <ion-icon name="flaticon-file-1" color="x-white"></ion-icon>
              <span class="cc-submit-text">작성완료</span>
            </button>
      </ion-toolbar>
  </ion-footer>
</ion-content>

