page-community-create {

    .categorySelectColor{
        background-color: antiquewhite;
    }

}

.md{
    page-social-create  {
        ion-buttons button[icon-only].my-style-for-modal {
            margin: 0 6px;
            min-width: 36px;
         }
    }	
}