<ion-header no-border>
  <ion-navbar color="x-mint" hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only class="leftbtn" (click)="closeCommunityTemplate()">
        <ion-icon name="flaticon-left-arrow" color="x-white"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title color="top-text" *ngIf="searchBarFlag == 0">{{categoryName | translate}}</ion-title>
    <ion-input class="top-search" *ngIf="searchBarFlag == 1" placeholder="검색하십쇼." [(ngModel)]="searchText"></ion-input>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearchBar()">
        <ion-icon name="flaticon-search" color="x-white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
    
<ion-content no-padding>
  <ion-grid no-padding class="ct-grid-best">
    <ion-row>

      <ion-col col-12 class="ct-best-title" text-left>{{categoryName | translate}} 인기글</ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-2 class="ct-rank" text-center>
        <ion-icon name="flaticon-cup" color="x-gold"></ion-icon>
      </ion-col>
      <ion-col col-7 class="ct-text" text-left>
        <span class="ct-title">{{categoryName | translate}} 인기글 첫번째 항목</span>&nbsp;
        <span class="ct-comment">(73)</span>
      </ion-col>
      <ion-col col-3 text-center><span class="ct-nickname">물뜨는미어캣</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="ct-rank" text-center>
        <ion-icon name="flaticon-cup" color="x-silver"></ion-icon>
      </ion-col>
      <ion-col col-7 class="ct-text" text-left>
        <span class="ct-title">{{categoryName | translate}} 인기글 두번째 항목</span>&nbsp;
        <span class="ct-comment">(73)</span>
      </ion-col>
      <ion-col col-3 text-center><span class="ct-nickname">물뜨는미어캣</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="ct-rank" text-center>
        <ion-icon name="flaticon-cup" color="x-bronze"></ion-icon>
      </ion-col>
      <ion-col col-7 class="ct-text" text-left>
        <span class="ct-title">{{categoryName | translate}} 인기글 세번째 항목</span>&nbsp;
        <span class="ct-comment">(73)</span>
      </ion-col>
      <ion-col col-3 text-center><span class="ct-nickname">물뜨는미어캣</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="ct-rank" text-center>
        <ion-icon name="flaticon-cup" color="x-gold"></ion-icon>
      </ion-col>
      <ion-col col-7 class="ct-text" text-left>
        <span class="ct-title">{{categoryName | translate}} 인기글 네번째 항목</span>&nbsp;
        <span class="ct-comment">(73)</span>
      </ion-col>
      <ion-col col-3 text-center><span class="ct-nickname">물뜨는미어캣</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="ct-rank" text-center>
        <ion-icon name="flaticon-cup" color="x-gold"></ion-icon>
      </ion-col>
      <ion-col col-7 class="ct-text" text-left>
        <span class="ct-title">{{categoryName | translate}} 인기글 다섯번째 항목</span>&nbsp;
        <span class="ct-comment">(73)</span>
      </ion-col>
      <ion-col col-3 text-center><span class="ct-nickname">물뜨는미어캣</span></ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 class="ct-best-title" text-left> {{categoryName | translate}} 게시판</ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-toolbar>
    <ion-segment *ngIf="specific_inner" [(ngModel)]="specific" mode="ios" color="x-mint" (ionChange)="segmentChanged($event.value)">
      <ion-segment-button value="total">
        전체
      </ion-segment-button>
      <ion-segment-button *ngFor="let specific of specific_inner" value="{{specific.name}}">
        {{specific.name | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <div [ngSwitch]="specific">
     <ion-list   *ngSwitchCase="'total'" ngSelected="selected">
        <ion-grid no-padding>
            <ion-row class="row" *ngFor="let bullet of bullets | async">
              <ion-col col-7 class="cb-text" (click)="presentBoardModal(bullet)" text-left>
                <span class="cb-title">[{{bullet.payload.val().type | translate}}] {{ bullet.payload.val().title }}</span>&nbsp;
                <span class="cb-view">({{bullet.payload.val().view}})</span>
              </ion-col>
              <ion-col col-3 text-center><span class="cb-nickname">{{bullet.payload.val().writer}}</span></ion-col>
              <ion-col col-2 text-center><span class="cb-time">{{bullet.payload.val().date | DateFormat}}</span></ion-col>
              <!--dateformat 넣어주셈! -->
              </ion-row>
          </ion-grid>
     </ion-list>
      <div *ngFor="let specific of specific_inner">
     
     <ion-list   *ngSwitchCase="specific.name">
        <ion-grid no-padding>
            <ion-row class="row" *ngFor="let bullet of bullets_tag | async" >
              <ion-col col-7 class="cb-text" (click)="presentBoardModal(bullet)" text-left>
                <span class="cb-title">[{{bullet.payload.val().type | translate}}] {{ bullet.payload.val().title }}</span>&nbsp;
                <span class="cb-view">({{bullet.payload.val().view}})</span>
              </ion-col>
              <ion-col col-3 text-center><span class="cb-nickname">{{bullet.payload.val().writer}}</span></ion-col>
              <ion-col col-2 text-center><span class="cb-time">{{bullet.payload.val().date | DateFormat}}</span></ion-col>
              <!--dateformat 넣어주셈! -->
              </ion-row>
          </ion-grid>
     </ion-list>
     </div>
  </div>

  
  <ion-fab right bottom>
      <button ion-fab color="x-mint" (click)="presentBoardCreate(categoryName)">
        <ion-icon name="flaticon-edit" color="x-white"></ion-icon>
      </button>
    </ion-fab>

  
</ion-content>