<ion-header no-border>
  <ion-navbar color="x-mint" hideBackButton>
    <ion-buttons left>
      <button ion-button icon-only class="leftbtn" (click)="closeCommunityTemplate()">
        <ion-icon name="flaticon-left-arrow" color="x-white"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title color="x-white">{{categoryName | translate}} 게시판</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentBoardCreate(categoryName)">
        <ion-icon name="flaticon-draw" color="x-white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
    
<ion-content no-padding overflow-scroll=true>
  <ion-grid no-padding class="ct-content-title">
    <ion-row class="ct-title">
      <ion-col col-11>
        <ion-input class="ct-input-txt" placeholder="{{categoryName | translate}} 게시판 내 검색" [(ngModel)]="searchText"></ion-input>
      </ion-col>
      <ion-col col-1 text-right>
        <ion-icon name="flaticon-search" color="x-gray-middle"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ct-category-title">
      <ion-col col-12 center>
        <ion-segment class="ct-category-btns" *ngIf="specific_inner" [(ngModel)]="specific" mode="ios" color="x-mint" (ionChange)="segmentChanged($event.value)">
          <ion-segment-button value="total">전체</ion-segment-button>
          <ion-segment-button *ngFor="let specific of specific_inner" value="{{specific.name}}">
            {{specific.name | translate}}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div [ngSwitch]="specific">
    <ion-list *ngSwitchCase="'total'" ngSelected="selected">
      <ion-grid no-padding *ngFor="let bullet of bullets | async" (click)="presentBoardModal(bullet)">
        <ion-row class="ctn-post">
          <ion-col col-2><img src="assets/img/user_001.jpg" class="ctn-photo"></ion-col>
          <ion-col col-10>
            <ion-grid no-padding class="ctn-content">
              <ion-row class="ctn-nickname"><ion-col col-12>{{bullet.payload.val().writer}}</ion-col></ion-row>
              <ion-row class="ctn-info">
                <ion-col col-6><span class="ctn-time">{{bullet.payload.val().date | DateFormat}}</span></ion-col>
                <ion-col col-6 text-right><span class="ctn-tags">#태그1, #태그2</span></ion-col>
              </ion-row>
              <ion-row class="ctn-text">
                <ion-col col-12>
                  <span class="ctn-category">[{{bullet.payload.val().type | translate}}]</span>
                  <span class="ctn-title">{{ bullet.payload.val().title }}</span></ion-col>
              </ion-row>
              <ion-row class="ctn-summary"><ion-col col-12>글내용 요약</ion-col>
              </ion-row>
              <ion-row class="ctn-btns">
                <ion-col col-8 text-left><span class="ctn-view"><ion-icon name="flaticon-medical"></ion-icon>&nbsp;{{ bullet.payload.val().view }}</span></ion-col>
                <ion-col col-4 text-right>
                  <span class="ctn-like"><ion-icon name="flaticon-hands"></ion-icon>&nbsp;{{ bullet.payload.val().like }}</span>
                  <span class="ctn-comment"><ion-icon name="flaticon-interface-7"></ion-icon>&nbsp;{{ bullet.payload.val().commentCount }}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <div *ngFor="let specific of specific_inner">
      <ion-list *ngSwitchCase="specific.name">
        <ion-grid no-padding *ngFor="let bullet of bullets_tag | async" (click)="presentBoardModal(bullet)">
          <ion-row class="ctn-post">
            <ion-col col-2><img src="assets/img/user_001.jpg" class="ctn-photo"></ion-col>
            <ion-col col-10>
              <ion-grid no-padding class="ctn-content">
                <ion-row class="ctn-nickname"><ion-col col-12>물뜨는미어캣</ion-col></ion-row>
                <ion-row class="ctn-info">
                  <ion-col col-6><span class="ctn-time">{{bullet.payload.val().date | DateFormat}}</span></ion-col>
                  <ion-col col-6 text-right><span class="ctn-tags">#태그1, #태그2</span></ion-col>
                </ion-row>
                <ion-row class="ctn-text">
                  <ion-col col-12>
                    <span class="ctn-category">[{{bullet.payload.val().type | translate}}]</span>
                    <span class="ctn-title">{{ bullet.payload.val().title }}</span></ion-col>
                </ion-row>
                <ion-row class="ctn-summary"><ion-col col-12>글내용 요약</ion-col>
                </ion-row>
                <ion-row class="ctn-btns">
                  <ion-col col-8 text-left><span class="ctn-view"><ion-icon name="flaticon-medical"></ion-icon>&nbsp;{{ bullet.payload.val().view }}</span></ion-col>
                  <ion-col col-4 text-right>
                    <span class="ctn-like"><ion-icon name="flaticon-hands"></ion-icon>&nbsp;{{ bullet.payload.val().like }}</span>
                    <span class="ctn-comment"><ion-icon name="flaticon-interface-7"></ion-icon>&nbsp;{{ bullet.payload.val().commentCount }}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </div>
</ion-content>