page-community-template {
    .text-md {
        color:map-get($colors,x-gray-middle) !important;
    }
    .text-ios {
        color:map-get($colors,x-gray-middle) !important;
    }

    .ct-grid-best {
        margin-bottom:4vw;
    }
    .ct-best-title {

        font-weight:bold;

        font-size:4vw;
        padding-left:4vw !important;
    }
    .ct-rank {
        font-size:5vw;
    }
    .ct-title {
        font-size:4vw;
        color:map-get($colors,x-gray-dark);
    }
    .ct-nickname, .ct-label {
        font-size:3vw;
        color:map-get($colors,x-gray-middle);
    }
    
    .ct-comment {
        font-size:3vw;
        color:map-get($colors,x-pink);
    }

    ion-row{
        align-items:center;
        width:100vw;
        height:6.5vh;
        background-color: map-get($colors,x-white);
        border-bottom:1px solid map-get($colors,x-gray-light);
    }
    ion-content{
        background-color: map-get($colors,x-gray-light) !important;
    }

}

