page-community-promotion {

    .header-banner{
		
		height:200px;
		min-height:200px;
        
	}

	.slide-zoom {
		// height:200px;
		height: 100%;
		// overflow:hidden;
	}

       ion-slides {
          height: 200px;
         
         
       }
       
       .board-list {
        height: 18px;
      }
     
}
